{% extends "layout.html" %}
{% block content %}
<div class="container-fluid text-center container">
  <div class="row content">
    <div class="col-sm-12 text-left">
      {% if optionlist|length > 0 %}
        <div class= "dinosaursContainer">
          {% for item in optionlist %}
            {%if dinosaurs == 'true' %}
              <a href="/dinosaurs/{{ item.name }}">
                  <img src="../static/images/{{item.img}}">
                  <p>{{ item.name }}</p>
              </a>
            {% else %}
              <a class="optionButton" href="/{{ option }}/{{ item }}">
                  {{ item }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <p style="text-align: center">A {{ option }} called "{{ title }}" does not exist</p>
        <a class="optionButton" href="/{{option}}">
            Back to {{ option }} selection
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
